:host {
  width: 100vw;
  height: calc(100vh - 56px);
  display: block;
}

.three-container {
  width: 100%;
  height: 100%;
  display: block;
//   position: absolute;  // ensures it fills inside ion-content
//   top: 0;
//   left: 0;
}